#bleu{
	background-color:blue;
}

#blanc{
	background-color:white;
}

#rouge{
	background-color:red;
}

input{
	width: 50%;
}

@media screen and (max-width: 640px){

	img, table, td, blockquote, code, pre, textarea, input, iframe, object, embed, video {
   		max-width: 100%;
	}

	.bonjour{
		display:block;
		margin-left: auto;
		margin-right: auto;
	}

	input{
		width:100%;
	}
}