#bleu{
	background-color:blue;
}

#blanc{
	background-color:white;
}

#rouge{
	background-color:red;
}

.bonjour{
	display:block;
	margin-left: auto;
	margin-right: auto;
}

@media handeld and (min-width: 200px) and (max-width: 640px){
	.bonjour{
		margin-left: auto;
		margin-right: auto;
	}
}